<%= render 'shared/content_title', title: 'Create a new category' %>

<%= render 'shared/error_messages', obj: @category %>

<div class="well">
  <%= form_for @category do |f| %>
    <div class="control-group">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
  <br>
  <%= f.submit 'Create Category' , class: 'btn btn-primary' %>
  <% end %>
</div>